@import (reference) '../../styles/variables';
@import (reference) '../../styles/mixins';

.jodit-popup-menu {
	position: fixed;
	border: 1px solid @color-border;

	&__content {
		padding: @padding-default;
		background: @color-background-default;
	}
}
