html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body {
	height: 100%;
	margin: 0;
}

body {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial,
		sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	font-weight: 300;
	line-height: 1.5;
	text-rendering: optimizelegibility;
}

body {
	display: flex;
	flex-direction: column;
}

header,
#main_container {
	flex: 1 0 auto;
}

* {
	box-sizing: border-box;
}

.table,
.p {
	margin: 0 0 16px 0;
}

.table {
	max-width: 100%;
	border: 0;
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
}

.table tr {
	user-select: none;
}

.table td,
.table th {
	user-select: text;
}

.table th,
.table td {
	box-sizing: border-box;
	padding: 2px 5px;
	vertical-align: top;
}

.table td,
.table th {
	border: 1px solid #ddd;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

nav {
	overflow: hidden;
	height: 30px;
	padding: 0;
	background: linear-gradient(to left, #28a5f5, #1e87f0);
}

footer nav {
	margin-top: 20px;
	background: #f9f9f9;
}

nav > ul {
	padding: 0;
	margin: 0;
}

nav > ul > li {
	display: inline-block;
	padding: 0;
	margin: 0;
	list-style: none;
}

nav > ul > li + li {
	margin-left: 23px;
}

nav ul li a {
	color: #fff;
	font-size: 0.625rem;
	line-height: 30px;
	text-decoration: none;
	text-transform: uppercase;
}

nav ul li a:hover {
	color: #fff;
	text-decoration: underline;
}

footer nav ul li a {
	color: #3f3f3f;
}

nav ul li ul {
	position: absolute;
	z-index: 20;
	display: none;
	padding: 0;
	margin: 0;
	background-color: #208bf1;
}

nav > ul > li:hover > ul {
	display: block;
}

nav ul li ul li {
	display: block;
	padding: 0;
	margin: 0;
	list-style: none;
}

nav ul li ul li a {
	padding: 8px;
}

.layout {
	display: flex;
	flex-direction: row;
}

.layout > * {
}

.leftside {
	width: 20%;
	padding: 10px 10px 10px 0;
}

.rightside {
	width: 80%;
	padding: 10px 0 10px 10px;
}

pre {
	padding: 10px;
	background-color: #3f3f3f;
	color: #fff;
	white-space: pre-wrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
}
