.jodit-ui-button-group {
	&__title {
		padding-bottom: calc(var(--padding-default) / 2);
	}

	.jodit-ui-button:first-child {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.jodit-ui-button + .jodit-ui-button {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}
