.idea/
node_modules/
yarn-error.log
/test.html

/fake.html

.DS_Store
.vs
/types/
/JODIT-DEVELOPMENT-GUIDE.md
.npmrc

build/*
examples/build/
.env
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
stack.md
