{
	"extends": ["stylelint-config-standard","stylelint-config-idiomatic-order", "stylelint-prettier/recommended"],
	"customSyntax": "postcss-less",
	"rules": {
		"prettier/prettier": true,
		"selector-type-no-unknown": null,
		"selector-class-pattern": null,
		"no-descending-specificity": null,
		"property-no-unknown": [
			true,
			{
				"ignoreProperties": ["overflow-scrolling"],
				"checkPrefixed": true
			}
		]
	}
}
