{
	"extends": [
		"stylelint-config-standard",
		"stylelint-config-idiomatic-order",
		"stylelint-prettier/recommended"
	],
	"customSyntax": "postcss-less",
	"rules": {
		"prettier/prettier": true,
		"media-query-no-invalid": null,
		"selector-type-no-unknown": null,
		"selector-not-notation": null,
		"selector-class-pattern": null,
		"no-descending-specificity": null,
		"selector-pseudo-element-no-unknown": [
			true,
			{
				"ignorePseudoElements": ["highlight"]
			}
		],
		"property-no-unknown": [
			true,
			{
				"ignoreProperties": ["overflow-scrolling"],
				"checkPrefixed": true
			}
		]
	}
}
