html {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    line-height: 1.5;
    height: 100%;
    margin: 0;
}
.jodit_wysiwyg {
    color: #000;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: auto;

    color: #000;
    padding: 10px;
    min-height: 40px;
}
.jodit_wysiwyg * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.jodit_wysiwyg table, .jodit_wysiwyg p {
    margin: 0 0 16px 0;
}

.jodit_wysiwyg table {
    border: none;
    border-collapse: collapse;
    empty-cells: show;
    max-width: 100%;
    border-spacing: 0;
    *border-collapse: collapse;
}
.jodit_wysiwyg  table tr {
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.jodit_wysiwyg  table td, .jodit_wysiwyg  table th {
    user-select: text;
    -o-user-select: text;
    -moz-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
}
.jodit_wysiwyg  table th,.jodit_wysiwyg   table td {
    box-sizeing: border-box;
    padding: 2px 5px;
    vertical-align: top;
}
.jodit_wysiwyg table td, .jodit_wysiwyg  table th {
    border: 1px solid #ddd;
}
.jodit_wysiwyg  table td.jodit_selected_cell, table th.jodit_selected_cell {
    border: 1px double #1e88e5;
}



.jodit_toolbar > li {
    width: 30px;
    height: 30px;
    line-height: 30px;
}