.jodit-toolbar {
	&__button {
		margin: 0;
		padding: 0;
		outline: none;
		position: relative;
		text-align: center;
		cursor: pointer;
		transition: background-color 0.2s linear, opacity 0.1s linear;
	}
}
