/*!
 * Jodit Editor (https://xdsoft.net/jodit/)
 * License https://xdsoft.net/jodit/license.html
 * Copyright 2013-2018 Valeriy Chupurnov https://xdsoft.net
 */

.jodit_about{
    padding: 20px;
    a {
        color: #459CE7;
        text-decoration: none;
        &:focus,
        &:hover{
            color: #23527c;
            text-decoration: underline;
            outline: 0;
        }
    }
    div {
        margin-bottom:5px;
    }
}