@import (reference) '../../../../../styles/form';
@import (reference) '../input/input';

.jodit-ui-select {
	.jodit-ui-input();

	&__input {
		padding-right: calc(var(--padding-default) * 2);
		background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+);
		background-position: 98% 50%;
		background-repeat: no-repeat;
	}

	&_size_tiny {
		margin-bottom: 0;
	}

	&_size_tiny &__input {
		--height: calc(var(--input-height) / 1.8);
		height: var(--height);
		line-height: var(--height);
	}

	&_variant_outline &__wrapper {
		border: 0;
		select {
			outline: 0;
		}
	}

	&_width_auto {
		width: auto;
	}

	&_width_auto &__wrapper {
		min-width: auto;
	}
}
