@import (reference) '../../../../../styles/form';
@import (reference) '../input/input';

.jodit-ui-select {
	.jodit-ui-input();

	&__input[multiple] {
		height: auto;
		padding: 0;

		option {
			padding: calc(var(--padding-default) * 0.5) var(--padding-default);
		}
	}

	&__input:not([multiple]) {
		padding-right: calc(var(--padding-default) * 2);
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4.95 10'%3E%3Cpath d='m1.41 4.67 1.07-1.49 1.06 1.49zM3.54 5.33 2.48 6.82 1.41 5.33z' fill='%23444'/%3E%3C/svg%3E");
		background-position: 98% 50%;
		background-repeat: no-repeat;
	}

	&_size_tiny {
		margin-bottom: 0;
	}

	&_size_tiny &__input {
		--height: calc(var(--input-height) / 1.8);

		height: var(--height);
		line-height: var(--height);
	}

	&_variant_outline &__wrapper {
		border: 0;

		select {
			outline: 0;
		}
	}

	&_width_auto {
		width: auto;
	}

	&_width_auto &__wrapper {
		min-width: auto;
	}
}
