.jodit-v-dom-container {
	display: flex;
	min-height: 100px;
	padding: 10px;
	border: 1px solid #ccc;

	> * {
		width: 33.3333%;
	}

	> *:not(:nth-child(1)) {
		padding-left: 10px;
		border-left: 1px solid #ccc;
	}

	.jodit-v-dom-editor {
		outline: none;
	}

	.jodit-v-dom-ast-mirror {
	}

	&:empty {
		&:before {
			content: 'Test';
			opacity: 0.6;
		}
	}
}
