@import (reference) '../../../styles/variables';
@import (reference) '../../../styles/mixins';

@color-button-background-hover: #dde4ef;

.button-size(@size) {
	@plus: (@size - 4px) * 2;

	min-width: @size + @plus;
	min-height: @size + @plus;

	.jodit-icon {
		width: @size;
		height: @size;
	}

	button {
		min-width: @size + @plus;
		min-height: @size + @plus;
	}
}

.button-state() {
	&:hover:not([disabled]) {
		background-color: @color-button-background-hover;
		outline: 0;
		opacity: 1;
	}

	&:active:not([disabled]),
	&[aria-pressed='true']:not([disabled]) {
		background-color: fade(@color-button-background-hover, 40);
		outline: 0;
	}

	&[aria-pressed='true']:hover:not([disabled]) {
		background-color: fade(@color-button-background-hover, 60);
	}

	&[disabled] {
		opacity: 0.3;
	}
}

.jodit-ui-button_clear {
	padding: 0;
	position: relative;
	text-align: center;

	background: 0 0;
	text-transform: none;
	font-style: normal;
	box-shadow: none;
	border: 0;

	box-sizing: border-box;
	user-select: none;
	background-clip: padding-box;
	text-decoration: none;

	outline: 0;
}

.jodit-ui-button {
	&,
	&__button {
		display: flex;
		justify-content: stretch;
		align-items: center;
	}

	&__button {
		justify-content: center;
	}

	.jodit-ui-button_clear();

	.button-state();

	.button-size(@icon_middle_size);

	&__text:not(:empty) {
		.font();
		display: block;
		padding: 0 @padding-default;
		text-align: left;
	}

	&_small {
		.button-size(@icon_small_size);
	}

	&_large {
		.button-size(@icon_large_size);
	}
}
