body {
	font-family: Arial, serif !important;
	font-size: 16px;
}

* {
	box-shadow: none !important;
	font-family: Arial, serif !important;
	font-weight: normal !important;
	text-shadow: none !important;
}
