name: Run screenshot tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3 #Setup Node
      with:
        node-version-file: '.nvmrc'
        cache: 'npm'

    - name: Run screenshot Tests
      run: |
        npm ci
        make build es=es2021
        make screenshots-build-image
        make screenshots-test es=es2021

    - name: Archive production artifacts
      uses: actions/upload-artifact@v3
      if: failure()
      with:
          name: screenshots
          path: |
            src/**/__image_snapshots__/**/*.png
