name: Run tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3 #Setup Node
      with:
        node-version-file: '.nvmrc'
        cache: 'npm'

    - name: Run Karma Tests
      run: |
        npm ci
        npm test
